{% extends 'base.html.twig' %}

{% block title %}{{ 'add_track'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
    <a href="{{ path('project_list') }}">{{ 'projects'|trans|capitalize }}</a> &gt;
    <a href="{{ path('project_detail', { 'slug': project.slug }) }}">{{ project.title }}</a> &gt;
    <span class="bc-current">{{ 'add_track'|trans|capitalize }}</span>
{% endblock %}

{% block body %}
    <h1>{{ 'add_track'|trans|capitalize }}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.name) }}
    <div>{{ form_row(form.isOpen) }}</div>
    <div>{{ form_row(form.audio) }}</div>
    <input type="submit" value="{{ 'add_track'|trans|capitalize }}" class="btn btn-secondary" />
    {{ form_end(form) }}

{% endblock %}
