{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('profile') }}
{% endblock %}
{% block title %}{{ user.username }}{% endblock %}

{% block breadcrumb %}
<a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
<span class="bc-current">{{ 'profile_of_user'|trans({'%username%': user.username})|capitalize }}</span>
{% endblock %}

{% block body %}
  <h1>{{ 'profile_of_user'|trans({'%username%': user.username})|capitalize }}</h1>
  <ul>
    {% if  user.avatar %}
      <li><img class="avatar" src="{{ asset('media/avatar/' ~ user.avatar) }}" alt="profile picture"></li>
    {% else %}
      <li><img class="avatar" src="{{ asset('media/avatar/default.png') }}" alt="profile picture"></li>
    {% endif %}
    <li>{{ user.firstname }} {{ user.lastname }} ({{ user.email }})</li>
    <li>Né le {{ user.birthdate|date('d M Y') }}</li>
    <li>{{ user.address1 }}</li>
    {% if user.address2 %}
      <li>{{ user.address2 }}</li>
    {% endif %}
    <li>{{ user.zipcode }} {{ user.city }}</li>
    <li>{{ user.country|upper }}</li>
  </ul>
  <button type="button" name="button" class="btn btn-secondary"><a href="{{ path('user_update',{ 'slug': user.slug }) }}">{{ 'edit'|trans|capitalize }}</a></button>
  <h2>{{ 'my_projects'|trans|capitalize }}</h2>
  <ul>
  {% for project in user.projects %}
    <li><a href="{{ path('project_detail', { 'slug': project.slug }) }}">{{ project.title }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
