{% extends 'base.html.twig' %}

{% block title %}{{ 'admin'|trans|capitalize }} {{ 'dashboard'|trans|capitalize }}{% endblock %}

{% block breadcrumb %}
<a href="{{ path('homepage') }}">{{ 'home'|trans|capitalize }}</a> &gt;
<span class="bc-current">{{ 'admin'|trans|capitalize }}</span>
{% endblock %}

{% block body %}
  <ul>
    <li><a href="{{ path('admin_user_list') }}">{{ 'user'|trans|capitalize }}</a></li>
  </ul>
{% endblock %}
