<footer class="mt-3">
  <div class="row">
    <section class="col-12 d-flex align-center">
      <div class="col-4">
        <h3>{{ 'menu'|trans|capitalize }} 1</h3>
        <hr>
        <ul>
          <li><a href="">{{ 'link'|trans|capitalize }} 1</a></li>
          <li><a href="">{{ 'link'|trans|capitalize }} 2</a></li>
          <li><a href="">{{ 'link'|trans|capitalize }} 3</a></li>
          <li><a href="">{{ 'link'|trans|capitalize }} 4</a></li>
        </ul>
      </div>
      <div class="col-4">
        <h3>{{ 'menu'|trans|capitalize }} 2</h3>
        <hr>
        <ul>
          <li><a href="">{{ 'link'|trans|capitalize }} 1</a></li>
          <li><a href="">{{ 'link'|trans|capitalize }} 2</a></li>
          <li><a href="">{{ 'link'|trans|capitalize }} 3</a></li>
          <li><a href="">{{ 'link'|trans|capitalize }} 4</a></li>
          <li><a href="">{{ 'link'|trans|capitalize }} 5</a></li>
        </ul>
      </div>
      <div class="col-4">
        <h3>{{ 'menu'|trans|capitalize }} 1</h3>
        <hr>
        <ul>
          <li><a href="">{{ 'link'|trans|capitalize }} 1</a></li>
          <li><a href="">{{ 'link'|trans|capitalize }} 2</a></li>
          <li><a href="">{{ 'link'|trans|capitalize }} 3</a></li>
          <li><a href="">{{ 'link'|trans|capitalize }} 4</a></li>
        </ul>
      </div>
    </section>
  </div>
</footer>
